.container-alunos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.container-alunos .titulo-container {
    font-size: 24px;
}

.container-alunos p {
    font-size: 16px;
}

.data-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    font-size: 14px;
}

.alunos-ativos {
    overflow-y: auto;
    max-height: 300px;
    margin-top: 20px;
}

.aluno-tabela {
    width: 100%; 
    height: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

/* Estilo do cabeçalho */
.cabecario-tabela-alunos {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.cabecario-tabela-alunos th {
    padding: 10px;
    text-align: left;
    color: #9C9C9C;
    margin-left: 10px;
}

.aluno-tabela tbody tr {
    border-radius: 10px;
    overflow: hidden;
}

.aluno-tabela td {
    padding: 10px;
    border: none;
}

.aluno-tabela tbody tr:nth-child(odd) {
    background-color: white;
}

.aluno-tabela tbody tr:nth-child(even) {
    background-color: #f7f7f5;
}


#informacoes {
    display: grid;
    grid-template-areas: "header header header" "container-informacoes container-informacoes aside" "container-informacoes container-informacoes aside";
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1.5vw;
    width: calc(100vw - 19.5vw);
    height: 100vh;
    margin-left: calc(18vw + 1.5vw);
    box-sizing: border-box;
    overflow: hidden;
    padding: 1.5vw;
}

.container-alunos {
    grid-area: container-informacoes; 
    height: 100%; 
}

.alunos-ativos {
    max-height: 100%;
    overflow-y: auto;
    margin-top: 20px;
}
