.container-faltas {
  padding: 4px;
  background-color: white;
  width: 391px;
  border-radius: 20px;
  color: #001F28;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-container {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: #003D4E;
  font-size: 20px;
  font-weight: 400;
}

.container-progresso-faltas {
  display: flex;
  justify-content: center;
  margin-bottom: -25px;
}

.quantidade-faltas {
  font-family: Sora, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #001F28;
  z-index: 9999;
}

.faltas {
  font-family: Sora, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.16px;
}

.informacao-faltas {
  color: #9C9C9C;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}