@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Sora", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    overflow: hidden;
    height: 100vh;
}

#navbar {
    width: 20vw;
    height: calc(100vh - 3vw);
    background-color: #003d4e;
    color: white;
    padding: 2vw;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8vw;
    position: fixed;
    top: 1.5vw;
    left: 1.5vw;
}

#navbar h1 {
    font-size: 35px;
}

#nav_actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.nav_button:hover {
    cursor: pointer;
}

.nav_button {
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

.nav_button i {
    font-size: 22px;
}

.nav_button p {
    font-size: 18px;
    font-weight: 200;
}

#senhora_gif, #garota_gif {
    width: 100%;
}

.student_profile {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    padding: 0.5vw;
    width: 106%;
    transform: translateX(-0.5vw);
    border-radius: 1vw;
    transition: background-color 0.3s ease;
}

.student_profile:hover{
    background-color: #002f3c;
}

.profile_pic {
    background-color: #00A69A;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
}

.profile_name {
    font-size: 0.9rem;
    font-weight: 700;
}

.ocupation {
    font-size: 0.6rem;
    font-weight: 200;
}

#logOff {
    width: 80%;
    max-width: 400px;
    padding: 1vw 0;
    border-radius: 0.7vw;
    background-color: #00A69A;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 79%;
    left: 10%;
    z-index: 10;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

#logOff::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00A69A;
}


/* Inicio */

#inicio {
    display: grid;
    grid-template-areas: "header header header" "container-horario container-horario aside" "container-redacao container-faltas aside";
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1.5vw;
    width: calc(100vw - 22vw);
    height: 100vh;
    margin-left: calc(20vw + 1.5vw);
    box-sizing: border-box;
    overflow: hidden;
    padding: 1.5vw
}

#container-horario, #container-redacao, #container-faltas, aside {
    border-radius: 1.5vw;;
    padding: 1vw;
    background-color: white;
}

#header {
    grid-area: header;
    font-size: 24px;
}

#container-horario {
    grid-area: container-horario;
}

#container-redacao {
    grid-area: container-redacao;
}

#container-faltas {
    grid-area: container-faltas;
}

/* Informações */

#informacoes {
    display: grid;
    grid-template-areas: "header header header" "container-informacoes container-informacoes aside" "container-informacoes container-informacoes aside";
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1.5vw;
    width: calc(100vw - 22vw);
    height: 100vh;
    margin-left: calc(20vw + 1.5vw);
    box-sizing: border-box;
    overflow: hidden;
    padding: 1.5vw
}

#header {
    grid-area: header;
    font-size: 24px;
}

#container-informacoes {
    grid-area: container-informacoes;
    border-radius: 1.5vw;;
    padding: 1vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

/* Informações text */

.informacaoText {
    width: 100%;
    padding: 1vw;
    border-radius: 1vw;
    color: white;
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    overflow: hidden;
    transition: max-height 1s ease; 
}

#container-informacoes .informacaoText:nth-child(odd) {
    background-color: #6755AA;
}

#container-informacoes .informacaoText:nth-child(even) {
    background-color: #00A69A;
}

.mainText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    width: 100%;
}

.info {
    font-size: 14px;
    font-weight: 200;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
}

.informacaoText.expanded {
    max-height: 500px;
}


/* Cabecalho */

#header {
    color: #003D4E;
    display: flex;
    justify-content: space-between;
}

.headerText {
    font-size: 1.8rem;
}

.headerSubtext {
    text-align: right;
    font-size: 1.2rem;
}

/* Login */

#logosGenius{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 15vw;
}

#login{
    background: url(./assets/Frame.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 20px */
    background-color: white;
    width: 40vw;
    padding: 2.5rem; /* 40px */
    border-radius: 1.5vw; /* 30px */
    color: #003D4E;
    
}

#tittle {
    font-size: 2.875rem; /* 46px */
    font-weight: 700;
    text-align: center;
}

#input form {
    display: flex;
    flex-direction: column;
    gap: 1vw; /* 15px */
    width: 100%;
}

#input input {
    padding: 1rem; /* 20px */
    width: 100%;
    height: auto;
    border-radius: 0.5vw; /* 10px */
    background-color: #F7F7F5;
    border: none;
    outline: none;
    font-size: 1rem; /* 16px */
    font-weight: 500;
}

input::placeholder, #cadastroEstado {
    color: #b6b6b6;
}

#loginButton {
    position: relative;
    background-color: #5DA499;
    height: 2.5rem; /* 40px */
    border: none;
    border-radius: 0.625rem; /* 10px */
    color: white;
    font-size: 1.5vw; /* 18px */
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

/* Professores */


aside {
    grid-area: aside;
    width: 17vw;
    height: 100%;
}

#teacher{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6vw;
}

.textHeader{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    color: #003D4E;
    font-size: 20px;
}

.teacher_profile {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    width: 106%;
    border-radius: 1vw;
}

.teacher_pic {
    background-color: #6755AA;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
}

/* Redações e Presença*/

.boxFooter{
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    text-align: center;
}

.footerTittle{
    font-size: 18px;
}

.footerSubtittle{
    color: #9C9C9C;
    font-size: 10px;
}
#fundoCadastro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 61, 78, 0.65); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#preCadastro {
    font-size: 14px;
    cursor: pointer;
    color: #003D4E;
    text-decoration: underline;
}

#cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    background-color: white;
    width: 40vw;
    padding: 2.5rem;
    border-radius: 1.5vw;
    color: #003D4E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao modal */
    z-index: 1100; /* Garante que esteja acima do fundo escurecido */
}

#cadastroTittle {
    font-size: 30px;
    font-weight: 600;
}

.cadastroInput {
    display: flex;
    gap: 0.5vw;
}

#cadastro input, #cadastroEstado {
    padding: 0.7vw;
    width: 100%;
    height: auto;
    border-radius: 0.5vw; /* 10px */
    background-color: #F7F7F5;
    border: none;
    outline: none;
    font-size: 1rem;
}

#cadastro form {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 100%;
}

#cadastroButton {
    background-color: #6755AA;
    color: white;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0.5vw;
}

#cadastroButton:hover {
    background-color: #574599;
}

form #cadastroNumero {
    width: 5vw;
}

form #cadastroBairro{
    width: 10vw;
}
