@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Sora", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    overflow: hidden;
    height: 100vh;
}

#navbar {
    width: 20vw;
    height: calc(100vh - 3vw);
    background-color: #003d4e;
    color: white;
    padding: 2vw;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.8vw;
    position: fixed;
    top: 1.5vw;
    left: 1.5vw;
}

#navbar h1 {
    font-size: 35px;
}

#nav_actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
}

.nav_button:hover {
    cursor: pointer;
}

.nav_button {
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

.nav_button i {
    font-size: 22px;
}

.nav_button p {
    font-size: 18px;
    font-weight: 200;
}

#senhora_gif, #garota_gif {
    width: 100%;
}

.student_profile {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.profile_pic {
    background-color: #00A69A;
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
}

.profile_name {
    font-size: 0.9rem;
    font-weight: 700;
}

.ocupation {
    font-size: 0.6rem;
    font-weight: 200;
}

/* Inicio */

#inicio {
    display: grid;
    grid-template-areas: "header header header" "container-horario container-horario aside" "container-redacao container-faltas aside";
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 1.5vw;
    width: calc(100vw - 22vw);
    height: 100vh;
    margin-left: calc(20vw + 1.5vw);
    box-sizing: border-box;
    overflow: hidden;
    padding: 1.5vw
}

#container-horario, #container-redacao, #container-faltas, aside {
    border-radius: 2vw;
    padding: 1vw;
    background-color: white;
}

#header {
    grid-area: header;
    font-size: 24px;
}

#container-horario {
    grid-area: container-horario;
}

#container-redacao {
    grid-area: container-redacao;
}

#container-faltas {
    grid-area: container-faltas;
}

aside {
    grid-area: aside;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Cabecalho */

#data {
    color: #003D4E;
    display: flex;
    justify-content: space-between;
}

.header_tittle {
    font-size: 1.8rem;
}

.header_subtittle {
    text-align: right;
    font-size: 1.2rem;
}

/* Barra de Progresso */

#logosGenius{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 15vw;
}

#login{
    background: url(./assets/Frame.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 20px */
    background-color: white;
    width: 40vw;
    padding: 2.5rem; /* 40px */
    border-radius: 1.875rem; /* 30px */
    color: #003D4E;
    
}

#tittle {
    font-size: 2.875rem; /* 46px */
    font-weight: 700;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem; /* 15px */
    width: 100%;
}

input {
    padding: 1rem; /* 20px */
    width: 100%;
    height: auto;
    border-radius: 0.625rem; /* 10px */
    background-color: #F7F7F5;
    border: none;
    outline: none;
    font-size: 1rem; /* 16px */
    font-weight: 500;
}

input::placeholder {
    color: #b6b6b6;
}

button {
    position: relative;
    background-color: #5DA499;
    height: 2.5rem; /* 40px */
    border: none;
    border-radius: 0.625rem; /* 10px */
    color: white;
    font-size: 1.125rem; /* 18px */
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4c8d83;
}