@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    font-family: "Sora", serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body {
    background: url(./assets/Frame.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 600px;
    padding: 40px;
    border-radius: 30px;
    color: #003D4E;
}

#tittle{
    font-size: 46px;
    font-weight: 700;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 20px;
    width: 520px;
    height: 40px;
    border-radius: 10px;
    background-color: #F7F7F5;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

input::placeholder {
    color: #b6b6b6; 
}

button{
    background-color: #5DA499;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
